.Header {
    padding: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 5vw;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    text-shadow: 3px 3px 5px black ,4px 4px 10px greenyellow;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}
